name: ROS industrial ci
on: [push, pull_request]

jobs:
  format_check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: 'ros-industrial/industrial_ci@master'
      env:
        ROS_DISTRO: melodic
        CLANG_FORMAT_CHECK: file
        CLANG_FORMAT_VERSION: "9"

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          - ROS_DISTRO: melodic
            ROS_REPO: main
            IMMEDIATE_TEST_OUTPUT: true
            DOWNSTREAM_WORKSPACE: "github:UniversalRobots/Universal_Robots_ROS_Driver#master https://raw.githubusercontent.com/UniversalRobots/Universal_Robots_ROS_Driver/master/.melodic.rosinstall"
            DOCKER_RUN_OPTS: --network static_test_net
            BEFORE_INIT: 'apt-get update -qq && apt-get install -y iproute2 iputils-ping && ip addr && ping -c5 192.168.56.101'
            URSIM_VERSION: 5.8.0.10253
          - ROS_DISTRO: noetic
            ROS_REPO: main
            IMMEDIATE_TEST_OUTPUT: true
            DOWNSTREAM_WORKSPACE: "github:UniversalRobots/Universal_Robots_ROS_Driver#master https://raw.githubusercontent.com/UniversalRobots/Universal_Robots_ROS_Driver/master/.noetic.rosinstall"
            BUILDER: catkin_tools
            DOCKER_RUN_OPTS: --network static_test_net
            BEFORE_INIT: 'apt-get update -qq && apt-get install -y iproute2 iputils-ping && ip addr && ping -c5 192.168.56.101'
            URSIM_VERSION: 5.8.0.10253

    steps:
      - uses: actions/checkout@v1
      - name: start ursim
        run: |
          tests/resources/dockerursim/build_and_run_docker_ursim.sh $URSIM_VERSION
        env: ${{matrix.env}}
      - uses: 'ros-industrial/industrial_ci@master'
        env: ${{matrix.env}}
