name: ROS prerelease test
on:
  pull_request:
    branches:
      - master

jobs:
  prerelease_test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [humble, rolling]
        OS_VERSION: [jammy]
        include:
          - ROS_DISTRO: melodic
            OS_VERSION: bionic
          - ROS_DISTRO: noetic
            OS_VERSION: focal
          - ROS_DISTRO: foxy
            OS_VERSION: focal

    steps:
      - uses: actions/checkout@v1
      - run: sudo apt-get install -y python3-pip
      - run: sudo pip3 install bloom rosdep
      - run: sudo rosdep init
      - run: rosdep update
      - run: bloom-generate rosdebian --ros-distro ${{ matrix.ROS_DISTRO }} --os-name ubuntu --os-version ${{ matrix.OS_VERSION }}
